.navbar {
    height: auto;
}
.user-dropdown{
     border-radius:50%;
    background:green;
}
.user-dropdown .user-image{
    border-radius:50%;
    background:green;
}

.banner-container {
    text-align: center;
}

.message-head {
    text-align: center;
    color: aqua;
    visibility: hidden;
}