.navbar {
    height: auto;
}
.user-dropdown{
     border-radius:50%;
    background:green;
}
.user-dropdown .user-image{
    border-radius:50%;
    background:green;
}

.banner-container {
    font-size: 40px;
    text-align: center;
}

.test-me {
    color: forestgreen;
}
.message-head {
    font-size: 95px;
}